{% extends 'layout.html'%}



{%block content%}

<h1 class="tittle">Formulario</h1>
<form action="{ url 'save'}" method="GET">

<label for="tittle">Folio:</label>
<input type="text" name="title" placeholder="17530862"/>

<label for="area">ClaveEmpleado</label>
<input type="text" name="title" placeholder="8206CUN"/>


<label for="area">Amallaves</label>
<input type="text" name="title" placeholder="ElisaA20019"/>

<label for="area">Seguridad</label>
<input type="text" name="title" placeholder="Sebas022019"/>

<label for="Entrega">Entrega</label>
<input type="text" name="title" placeholder="nombre completo del empleado"/>


<label for="content">Area</label>s
<input type="text" name="title" placeholder="Area donde se encontro"/>


<label for="content">Contenido</label>
<textarea name="content" ></textarea> 

<input type="submit" value="guardar"/>

</form>
{%endblock%} 